<mat-toolbar color="primary">
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>PetClinic</span>
</mat-toolbar>

<mat-sidenav-container class="sidebar-container">
  <mat-sidenav #sidenav class="sidebar-nav" mode="side" opened>
    <mat-nav-list>
      <ng-container *ngFor="let item of listItems">
        <a mat-list-item [routerLink]="item.path" *ngIf="item.path">
          <mat-icon>{{item.icon}}</mat-icon>
          {{item.label}}
        </a>
        <a mat-list-item [href]="item.url" *ngIf="item.url">
          <mat-icon>{{item.icon}}</mat-icon>
          {{item.label}}
        </a>
      </ng-container>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>
